@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');


.App {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
}

html {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #434343, #000000 30%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.main_title {
  color: rgba(255, 255, 255, .95);
  /* text-shadow: 2px 2px 2px black; */
  /* border-bottom: .5px solid grey; */
  padding: 1rem 2rem;
  margin-top: 0;
  font-size: 1.25rem;
  background: transparent;  /* fallback for old browsers */
  text-align: end;
  font-family: 'Libre Baskerville', serif;
  font-weight: 100;
  /* font-style: italic; */
}

.copy_footer {
  color: rgba(255, 255, 255, .95);
  padding: 0rem 2rem;
  margin-top: 6rem;
  margin-bottom: -1rem;
  font-size: .75rem;
  background: transparent;  /* fallback for old browsers */
  text-align: end;
  font-family: 'Libre Baskerville', serif;
  font-weight: 100;
}

.logo {
  border-radius: 50%;
  float:left;
  width: 50px;
  margin-left: 1.5rem;
  margin-top: .75rem;
}

.section_title {
  color: white;
  text-shadow: -2px 0px 0px rgba(18, 18, 18, .85);;
  padding-top: 4rem;
  margin-left: 20%;
  font-size: 2.75rem;
  letter-spacing: 2px;
  /* border-bottom: 2px solid silver; */
  padding-bottom: 1rem;
  text-align: start;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  
}

.sub_section_title {
  color: white;
  /* text-shadow: 2px 2px 2px black; */
  font-size: 1.25rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-weight: 400;
}


.currently_reading_flex, .book_handshake_flex, .recently_read_flex, .movies_handshake_flex, .currently_watching_flex, .recently_watched_flex, .tv_handshake_flex, .currently_watching_tv_flex, .recently_watched__tv_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 80%;
    
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: rgba(24, 23, 23, .95);
    border-radius: 10px;
    padding-top: 1.5rem
}

.book, .movie, .tv {
  height: 200px;
  width: auto;
  margin: 1rem 1rem -.5rem 1rem;
  border: 0.5px solid black;
}

.star {
  color: gold;
  margin-top: -.5rem;
}
.title {
  font-size: .75rem;
  width: 200px;
  color: white;
}

.word_box {
  height: 50px;
  margin-top: 0rem;
  margin-bottom: 2rem;
  width: auto;
}

.review {
  opacity: 0;
  margin: 0 auto;
  margin-top: -18.5rem;
  width: 150px;
  height: auto;
  min-height: 0;
  font-size: .85rem;
  border: .5px solid silver;
  border-radius: 5px;
  text-align: left;
  position: relative;
  z-index: 100;
  background-color: rgba(18, 18, 18, .95);
  color: white;
  /* padding: 1rem .5rem; */
  cursor: pointer;
  line-height: 1.5;
  
}

.review:hover {
  opacity: 1;
  transition: ease-out .25s;
  padding: 1rem .5rem;
}

.review::first-letter {
  font-size: 1.25rem;
  color: gold;
  font-weight: 900;
  font-family: 'Libre Baskerville', serif;
}

@media(hover: none) {
  .review:hover {
    opacity: 1;
    transition: ease-out .25s;
    padding: 1rem .5rem;
  }
}

@media only screen and (min-width: 1500px) {
  .App {
    max-width: 75%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1250px) {
  .currently_reading_flex, .book_handshake_flex, .recently_read_flex, .movies_handshake_flex, .currently_watching_flex, .recently_watched_flex, .tv_handshake_flex, .currently_watching_tv_flex, .recently_watched__tv_flex {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .currently_reading_flex, .book_handshake_flex, .recently_read_flex, .movies_handshake_flex, .currently_watching_flex, .recently_watched_flex, .tv_handshake_flex, .currently_watching_tv_flex, .recently_watched__tv_flex {
    width: 98%;
  }
}

@media only screen and (max-width: 450px) {
  .currently_reading_flex, .book_handshake_flex, .recently_read_flex, .movies_handshake_flex, .currently_watching_flex, .recently_watched_flex, .tv_handshake_flex, .currently_watching_tv_flex, .recently_watched__tv_flex {
    width: 100%;
  }

  .section_title {
    text-align: center;
    margin-left: auto;
    font-size: 2rem;
    padding-top: 2rem;
  }

  .sub_section_title {
    padding-top: 1rem;
  }

  .logo {
    width: 35px;
  }

  .main_title {
    font-size: 1rem;
  }

  .copy_footer {
    margin-top: 2rem;
    font-size: .6rem;
  }
}







