@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

:root {
  background-color: black;
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 10rem;
  
}

html, body {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #434343, #000000 30%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.header {
  width: 100%;
  position: fixed;
  height: 5rem;
  top: 0;
  z-index: 99;
  background-color: rgba(16,49,107, .975);
  
}


nav {
  margin-top: -5.3275rem;
  margin-right: 20.5rem;
  z-index: 99;
  position: relative;
  border-right: 1px solid white;
  padding-bottom: 2rem;
  background-color: rgba(11, 61, 145, .985);
  width: 500px;
}



nav > a {
  display: inline;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 2rem;
  position: relative;
  z-index: 99;
}

.firstAnchor {
  margin-left: 3rem;
}

nav > a:hover {
  cursor: pointer;
  transition: .5s ease-in;
  color:  silver;
}

.menu-icon {
  font-size: 2.5rem;
  display: block;
  position: absolute;
  top: 1.25rem;
  left: 2rem;
  width: 40px;
  color: white;
}

.menu-icon:hover {
  cursor: pointer;
  color:  silver;
  transition: .5s ease-in;
}



.close-icon {
  color: white;
  font-size: 2rem;
  display: block;
  position: relative;
  top: 1.5rem;
  left: 2rem;
  width: 40px;
  z-index: 9;
}

.close-icon:hover {
  cursor: pointer;
  color:  silver;
  transition: .5s ease-in;
}




.main_title {
  color: rgba(255, 255, 255, .95);
  /* text-shadow: 2px 2px 2px black; */
  /* border-bottom: .5px solid grey; */
  padding: 1rem 2rem;
  margin-top: 1;
  font-size: 1.25rem;
  background: transparent;  /* fallback for old browsers */
  text-align: end;
  font-family: 'Libre Baskerville', serif;
  font-weight: 100;
  /* font-style: italic; */
}






.section_title {
  color: white;
  text-shadow: -2px 0px 0px rgba(18, 18, 18, .85);;
  padding-top: 10rem;
  margin-left: 20%;
  font-size: 2.5rem;
  letter-spacing: 2px;
  /* border-bottom: 2px solid silver; */
  padding-bottom: 1rem;
  text-align: start;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  
}

#movies {
  margin-top: 5rem;
}

.sub_section_title {
  color: white;
  /* text-shadow: 2px 2px 2px black; */
  font-size: 1.25rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-weight: 400;
}


.currently_reading_flex, .book_handshake_flex, .recently_read_flex, .movies_handshake_flex, .currently_watching_flex, .recently_watched_flex, .tv_handshake_flex, .currently_watching_tv_flex, .recently_watched__tv_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 80%;
    
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: rgba(24, 23, 23, .95);
    border-radius: 10px;
    padding-top: 1.5rem
}

.book, .movie, .tv {
  height: 200px;
  width: auto;
  margin: 1rem 1rem -.5rem 1rem;
  border: 0.5px solid black;
}

.star {
  color: gold;
  margin-top: -.5rem;
}
.title {
  font-size: .75rem;
  width: 200px;
  color: white;
}

.word_box {
  height: 50px;
  margin-top: 0rem;
  margin-bottom: 2rem;
  width: auto;
}

.review {
  opacity: 1;
  margin: 0 auto;
  width: 150px;
  height: auto;
  min-height: 0;
  font-size: .75rem;
  /* border: .5px solid silver; */
  border-radius: 5px;
  text-align: start;
  position: relative;
  z-index: 5;
  /* background-color: rgba(18, 18, 18, .95); */
  background-color: rgba(11, 61, 145, .95);
  color: white;
  padding: 1rem .5rem;
  cursor: pointer;
  line-height: 1.5;
  margin-top: -1rem;
}

.arrow_right_icon {
  position: absolute;
  color: white;
  margin-top: -2.55rem;
  margin-left: -3.75rem;
}

.arrow_right_icon:hover {
  cursor: pointer;
}

.arrow_drop_up_icon {
  position: absolute;
  color: white;
  margin-top: -1.5rem;
  margin-left: -3.75rem;
}

.arrow_drop_up_icon:hover {
  cursor: pointer;
}


.review::first-letter {
  padding-left: 5px;
  font-size: 1rem;
  color: gold;
  font-weight: 900;
  font-family: 'Libre Baskerville', serif;
}

.footer {
  margin-top: 15rem;
  margin-bottom: -10rem;
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.copy_footer {
  color: rgba(255, 255, 255, .95);
  padding: 0rem 2rem;
  margin-top: 2rem;
  font-size: .75rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: 100;
}

.logo {
  border-radius: 50%;
  width: 50px;
  margin-left: 1.5rem;
  margin-top: .5rem;
  box-shadow: 3px 0px .5px .5px rgba(29,60,138,1);
}

.logo:hover {
  box-shadow: 3px 0px .5px .5px rgba(255, 172, 65, 1);
  transition: 1s ease-in;
}



@media only screen and (min-width: 1500px) {
  .App {
    max-width: 75%;
    margin: 0 auto;
  }
  .header {
      width: 100%;
      margin-left: -12.5%;
    }

}

@media only screen and (max-width: 1250px) {
  .currently_reading_flex, .book_handshake_flex, .recently_read_flex, .movies_handshake_flex, .currently_watching_flex, .recently_watched_flex, .tv_handshake_flex, .currently_watching_tv_flex, .recently_watched__tv_flex {
    width: 90%;
  }
  
}

@media only screen and (max-width: 750px) {
  nav {
    background-color: rgba(11, 61, 145, .975);
    width: 200px;
    height: 167px;
    top: 0rem;
    left: 0rem;
    padding-top: 2rem;
    position: relative;
    z-index: 99;
    border: none;
    border-bottom-right-radius: 15px;

    box-shadow: 3px 3px 5px black;
  }

  .firstAnchor {
    margin-left: 0;
    margin-top: 2rem;
    
  }


  nav > a {
  
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  }

  nav > a:hover {
    transition: .5s ease-in;
    background-color: rgba(11, 61, 145, .975);
    background-color:rgba(16,49,107, .975);
    
  }

  .lastAnchor {
    /* border-bottom-right-radius: 15px; */
    
  }

  .menu-icon {
    font-size: 2.5rem;
    display: block;
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 40px;
  }
  
  .menu-icon:hover {
    cursor: pointer;
    transition: .5s ease-in;
    color: silver;
  }


.close-icon {
  font-size: 2rem;
  display: block;
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 40px;
} 
.close-icon:hover {
  cursor: pointer;
  color: gray;
  transition: .5s ease-in;
}

}

@media only screen and (max-width: 700px) {
  .currently_reading_flex, .book_handshake_flex, .recently_read_flex, .movies_handshake_flex, .currently_watching_flex, .recently_watched_flex, .tv_handshake_flex, .currently_watching_tv_flex, .recently_watched__tv_flex {
    width: 98%;
  }
}

@media only screen and (max-width: 450px) {
  .currently_reading_flex, .book_handshake_flex, .recently_read_flex, .movies_handshake_flex, .currently_watching_flex, .recently_watched_flex, .tv_handshake_flex, .currently_watching_tv_flex, .recently_watched__tv_flex {
    width: 100%;
  }

  .section_title {
    text-align: center;
    margin-left: auto;
    font-size: 2rem;
    padding-top: 2rem;
  }

  .sub_section_title {
    padding-top: 1rem;
  }

  .logo {
    width: 35px;
  }

  .main_title {
    font-size: 1rem;
  }

  .copy_footer {
    margin-top: 2rem;
    font-size: .6rem;
  }

  .close-icon {
    font-size: 2rem;
    display: block;
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 40px;
  } 
}

@media only screen and (max-width: 376px) {
  nav {
    width: 100%;
    border-bottom-left-radius: 15px;
  }

  .lastAnchor {
    /* border-bottom-left-radius: 15px; */
  }


}

@media only screen and (max-width: 300px) {
  .menu-icon {
    left: 1rem;
  }

  .main_title {
    margin-right: -1rem;
  }
}







