.App {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
}

html {
  background: #ffd89b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.currently_reading_flex, .book_handshake_flex, .recently_read_flex, .movies_handshake_flex, .currently_watching_flex, .recently_watched_flex, .tv_handshake_flex, .currently_watching_tv_flex, .recently_watched__tv_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 75%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.book, .movie, .tv {
  height: 200px;
  width: auto;
  margin: 1rem 1rem -.5rem 1rem;
  border: 0.5px solid rgb(24, 23, 23);
}

.star {
  color: gold;
  margin-top: -.5rem;
}
.title {
  font-size: .75rem;
  width: 200px;
}

.word_box {
  border: 1px solid red;
  height: 50px;
  margin-top: 0rem;
  margin-bottom: 2rem;
  width: auto;
}

.review {
  margin: 0 auto;
  margin-top: -1rem;
  width: 150px;
  height: auto;
  font-size: .85rem;
  border: 1px solid blue;
  text-align: left;
  position: relative;
  z-index: 100;
  background-color: red;
  color: white;
  padding: 1rem .5rem;
}




