.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

html {
  background: #ffd89b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.currently_reading_flex, .book_handshake_flex, .recently_read_flex, .movies_handshake_flex, .currently_watching_flex, .recently_watched_flex, .tv_handshake_flex, .currently_watching_tv_flex, .recently_watched__tv_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 75%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.book, .movie, .tv {
  height: 200px;
  width: auto;
  margin: 1rem;
  border: 0.5px solid black;
}

.star {
  color: gold;
  margin-top: -.5rem;
}




